<div class="row center">
    <h1>[This is the main landing page.]</h1>
</div>
<div class="row center">
    <p>[Administrators will be shown some buttons.]</p>

    <%= button_to "View Schedule", schedules_path, :method => "get" %>
    <%= button_to "View Users", users_path, :method => "get" %>
    <%= button_to "View Positions", positions_path, :method => "get" %>
    <%= button_to "View Requests", requests_path, :method => "get" %>
    <%= button_to "View Stores", stores_path, :method => "get" %>
</div>

<div class="row center">
    <p>[Regular users will be shown some other buttons.]</p>
    
    <%= button_to "View Schedule", "#", :method => "get" %>
    <%= button_to "Show available shifts", 'available_shifts', :method => "get" %>
</div>
