<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @position.name %>
</p>

<p>
  <strong>Editschedule:</strong>
  <%= @position.editSchedule %>
</p>

<p>
  <strong>Acceptdenyshift:</strong>
  <%= @position.acceptDenyShift %>
</p>

<p>
  <strong>Scheduleable:</strong>
  <%= @position.scheduleable %>
</p>

<p>
  <strong>Store:</strong>
  <%= @position.store_id %>
</p>

<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'Back', positions_path %>
