<%= form_for(schedule) do |f| %>
  <% if schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :position_id %>
    <%= f.text_field :position_id %>
  </div>

  <div class="field">
    <%= f.label :available %>
    <%= f.check_box :available %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>

  <div class="field">
    <%= f.label :startTime %>
    <%= f.time_select :startTime %>
  </div>

  <div class="field">
    <%= f.label :endTime %>
    <%= f.time_select :endTime %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
