
<% my_staff = {"Cooks"=>["Doncho Dontchev1", "Amy Clark2", "Jim Kemp3"], "Waiters"=>["Russ Dewitt4", "Antwane Duwane5"], "Busers"=>["James Kenyon6", "Hillary Overton7"], "Managers"=>["Benny Mitchell8", "Phil Hoddy9"]} %>

<%= @positions.count %>

<% @positions.each do |job| %>
    <th class="positionHead"> <%= job.name %> </th>
    <% @staff.each do |emp| %>

        <% if emp.position.include?(job) then %> 

             <% empShifts = @weekSchedule.where("user_id = ?", emp.id) %>
            
             <% d = @date %>
             <tr>
             <!--Row Header (emp name) -->
             <th class="myTh lg empColumn"> <%= emp.firstName %> <%= emp.lastName %></th>
             
             <!--builds each day for given employee -->
             <% (0..6).each do |i| %>
                 <% d = d.next_day(1) %>
                 <% dayShift = empShifts.where("date = ?", d) %>
                 <!--builds shift entry if it exists-->
                 <% if dayShift.present? %>
 
                    <td class="myTd lg" id="tag<%= emp.id %>|<%= d %> ">
                    <span class="timeText mil_time"  ><%= dayShift.startTime %></span>
                     - <span class="timeText mil_time">15:00</span>
                    <button type="button" class="editBut" data-toggle="modal" data-user="<%= emp.id %>"
                    data-start="11:00" data-end="15:00" data-date="<%= d %>" href="#myModal" 
                    id="<%= emp.id %>|<%= d %>">Edit Shift</button>
                    </td>
                <!--builds shift create button if shift doesn't exist-->
                 <% else %>
                      <td class="myTd lg" id="tag<%= emp.id %>|<%= d %>"><button 
                      type="button" class="createBut" data-user="<%= emp.id %>" data-date="<%= d %>"
                      data-toggle="modal" href="#myModal">Create Shift</button>
                      </td>
                 <% end %>
             <% end %>
             </tr>
        <% end %>
    <% end %>
<% end %>


<!--<% my_staff.each do |key, array| %>-->


<!--     <tr><th class="positionHead"> <%= key %> </th></tr>-->
 
<!--         <% array.each do |x| %>-->
<!--         <% d = Date.new(2016,5,29) %>-->
<!--         <% userId = x.gsub(/[^0-9]/, "") %>-->
<!--         <% name = x.gsub(/[^a-zA-Z ]/i, '') %>-->
<!--         <tr>-->
<!--         <th class="myTh lg empColumn"> <%= name %> </th>-->
         
<!--             <% (0..6).each do |i| %>-->
<!--                 <% d = d.next_day(1) %>-->
             
<!--                <td class="myTd lg" id="tag<%= userId %>|<%= d %> ">-->
<!--                <span class="timeText mil_time"  >11:00</span>-->
<!--                 - <span class="timeText mil_time">15:00</span>-->
<!--                <button type="button" class="editBut" data-toggle="modal" data-user="<%= userId %>"-->
<!--                data-start="11:00" data-end="15:00" data-date="<%= d %>" href="#myModal" -->
<!--                id="<%= userId %>|<%= d %>">Edit Shift</button>-->
<!--                </td>-->
             
<!--             <% end %>-->
<!--         </tr>-->
<!--         <% end %>-->
<!--<% end %>-->