<% userType = current_user.admin %>

<% if userType %>  <%# if user is admin %>

<% @positions.each do |job| %>
    <th class="positionHead"> <%= job.name %> </th>
    <% @staff.each do |emp| %>

        <% if emp.position.include?(job) then %> 

             <% empShifts = @weekSchedule.where("user_id = ?", emp.id) %>
            
             <% d = @date %>
             
            <%# Small Format Row Header (emp name) %>
             <tr><th class="myTh empHead sm"><%= emp.firstName %> <%= emp.lastName %>
             <span class="truncateWarning">(Times are Truncated)</span></th></tr>
             
            <%# Large Format Row Header (emp name) %>
             <tr>
             <th class="myTh lg empColumn"> <%= emp.firstName %> <%= emp.lastName %></th>
             
            <%# builds each day for given employee %>
             <% d = d.next_day(-1) %>
             <% (0..6).each do |i| %>
                 <% d = d.next_day(1) %>
                 <% dayShift = empShifts.where("date = ?", d) %>
                 
                 <%# builds shift entry if it exists %>
                 <% if dayShift.first.present? then %>
<%# Large Format shift field %> 
<td class="myTd lg" id="tag<%= emp.id %>|<%= d %>">
<span class="timeText mil_time"  ><%= dayShift.first.startTime.strftime("%I:%M%p") %></span>
 - <span class="timeText mil_time"><%= dayShift.first.endTime.strftime("%I:%M%p") %></span>
<button type="button" class="editBut" data-toggle="modal" data-user="<%= emp.id %>"
data-start="<%= dayShift.first.startTime.strftime("%I:%M%p") %>" 
data-end="<%= dayShift.first.endTime.strftime("%I:%M%p") %>" data-date="<%= d %>"
data-position="<%= job.id %>" data-id="<%= dayShift.first.id %>"
data-remote=" <%= edit_schedule_path(:id => dayShift.first.id) %>  #modal-edit-fields" href="#myModal" 
id="<%= emp.id %>|<%= d %>">Edit</button><br>

<%= link_to 'Destroy', schedule_path(dayShift.first), class: "destroyBut", method: :delete, data: { confirm: 'Confirm Delete' } %>
</td>

<%# Small Format shift field %>
<td class="myTd sm" id="tag<%= emp.id %>|<%= d %>">
<button type="button" class="editBut" data-toggle="modal" data-user="<%= emp.id %>"
data-start="<%= dayShift.first.startTime.strftime("%I:%M%p") %>" 
data-end="<%= dayShift.first.endTime.strftime("%I:%M%p") %>" data-date="<%= d %>"
data-position="<%= job.id %>" data-id="<%= dayShift.first.id %>"
data-remote=" <%= edit_schedule_path(dayShift.first.id) %>  #modal-edit-fields" href="#myModal" 
id="<%= emp.id %>|<%= d %>"><%= dayShift.first.startTime.strftime("%I:%M%p")[0..1] %>-
<%= dayShift.first.endTime.strftime("%I:%M%p")[0..1] %></button><br>


                <%# builds shift create button if shift doesn't exist %>
                 <% else %>
                    <%# Large Format create shift field %>
                      <td class="myTd lg" id="tag<%= emp.id %>|<%= d %>">
                    <button type="button" class="createBut" 
                      data-user="<%= emp.id %>" 
                      data-date="<%= d %>" 
                      data-toggle="modal" 
                      data-position="<%= job.id %>" 
                      href="#myModal">Create Shift
                    </button>
                      </td>
                      
                    <%# small Format create shift field %>
                      <td class="myTd sm" id="tag<%= emp.id %>|<%= d %>">
                    <button type="button" class="createBut" 
                      data-user="<%= emp.id %>" 
                      data-date="<%= d %>" 
                      data-toggle="modal" 
                      data-position="<%= job.id %>" 
                      href="#myModal">Create
                    </button>
                      </td>
                 <% end %>
             <% end %>
             </tr>
        <% end %>
    <% end %>
<% end %>





<% else %>  <%# if user is not admin %>

<% @positions.each do |job| %>
    <th class="positionHead"> <%= job.name %> </th>
    <% @staff.each do |emp| %>

        <% if emp.position.include?(job) then %> 

             <% empShifts = @weekSchedule.where("user_id = ?", emp.id) %>
            
             <% d = @date %>
            <%# Small Format Row Header (emp name) %>
             <tr><th class="myTh empHead sm"><%= emp.firstName %> <%= emp.lastName %>
             <span class="truncateWarning">(Times are Truncated)</span></th></tr>
             <tr>
            <%# Large Format Row Header (emp name) %>
             <th class="myTh lg empColumn"> <%= emp.firstName %> <%= emp.lastName %></th>
             
            <%# builds each day for given employee %>
             <% d = d.next_day(-1) %>
             <% (0..6).each do |i| %>
                 <% d = d.next_day(1) %>
                 <% dayShift = empShifts.where("date = ?", d) %>


            <%# builds shifts if emp is Current User %>
                 <% if (dayShift.first.present?) && (emp.id == current_user.id) then %>
<%# Large Format shift field %>
<td class="myTd lg" id="tag<%= emp.id %>|<%= d %>">
<span class="timeText mil_time"  ><%= dayShift.first.startTime.strftime("%I:%M%p") %></span>
 - <span class="timeText mil_time"><%= dayShift.first.endTime.strftime("%I:%M%p") %></span>
<button type="button" class="dropBut" data-toggle="modal" data-user="<%= emp.id %>"
data-start="<%= dayShift.first.startTime.strftime("%I:%M%p") %>" 
data-end="<%= dayShift.first.endTime.strftime("%I:%M%p") %>" data-date="<%= d %>"
data-position="<%= job.id %>" data-id="<%= dayShift.first.id %>"
data-remote=" <%= edit_schedule_path(dayShift.first.id) %>  #modal-edit-fields" href="#myModal" 
id="<%= emp.id %>|<%= d %>">Drop</button><br>
</td>

<%# Small Format shift field %>
<td class="myTd sm" id="tag<%= emp.id %>|<%= d %>">
<button type="button" class="editBut" data-toggle="modal" data-user="<%= emp.id %>"
data-start="<%= dayShift.first.startTime.strftime("%I:%M%p") %>" 
data-end="<%= dayShift.first.endTime.strftime("%I:%M%p") %>" data-date="<%= d %>"
data-position="<%= job.id %>" data-id="<%= dayShift.first.id %>"
data-remote=" <%= edit_schedule_path(dayShift.first.id) %>  #modal-edit-fields" href="#myModal" 
id="<%= emp.id %>|<%= d %>"><%= dayShift.first.startTime.strftime("%I:%M%p")[0..1] %>-
<%= dayShift.first.endTime.strftime("%I:%M%p")[0..1] %></button><br>



            <%# Large Format builds shifts that can be picked up %>
                <% elsif (dayShift.first.present?) && (dayShift.first.position_id.in?(current_user.position.ids)) && (dayShift.first.available) then %>
                

                
                
<td class="myTd lg" id="tag<%= emp.id %>|<%= d %>">
<span class="timeText mil_time"  ><%= dayShift.first.startTime.strftime("%I:%M%p") %></span>
 - <span class="timeText mil_time"><%= dayShift.first.endTime.strftime("%I:%M%p") %></span>
 
 
                <% requestArray = Array.new %>
                <% @requests.each do |request| %>
                    <% requestArray << request.schedule_id %>
                <% end %>
                
                <% if (dayShift.first.id.in?(requestArray)) %>
                    <button type="button" class="available lg" 
                      data-user="<%= emp.id %>" 
                      data-date="<%= d %>" 
                      data-requestID= <%= @requests.where("schedule_id = ?", dayShift.first.id) %>
                      data-position="<%= job.id %>" >
                      Shift Requested
                    </button>
                    </td>
                <% else %>
 <%= link_to "Pick Up", new_request_path(:request_schedule_id => dayShift.first.id, :request_user_id => current_user.id), :class => "dropBut" %>
<br> 
</td>
                <% end %>
            <%# Small Format builds shifts that can be picked up %>
<td class="myTd sm" id="tag<%= emp.id %>|<%= d %>">
                <% if (dayShift.first.id.in?(requestArray)) %>
                    <button type="button" class="available sm" 
                      data-user="<%= emp.id %>" 
                      data-date="<%= d %>" 
                      data-requestID= <%= @requests.where("schedule_id = ?", dayShift.first.id) %>
                      data-position="<%= job.id %>" >
                      Requested
                    </button>
                <% else %>  
<%= link_to "Pick Up", new_request_path(:request_schedule_id => dayShift.first.id, :request_user_id => emp.id), :class => "dropBut" %><br> 
                      </td>          
                <% end %>   
                
                <%# builds shifts that can't be picked up %>
                <% elsif (dayShift.first.present?)  %>
<td class="myTd lg" id="tag<%= emp.id %>|<%= d %>">
<span class="timeText mil_time"  ><%= dayShift.first.startTime.strftime("%I:%M%p") %></span>
 - <span class="timeText mil_time"><%= dayShift.first.endTime.strftime("%I:%M%p") %></span>
<br> 
</td>

<td class="myTd sm" id="tag<%= emp.id %>|<%= d %>">
<span class="timeText mil_time"  ><%= dayShift.first.startTime.strftime("%I:%M%p")[0..1] %></span>
 - <span class="timeText mil_time"><%= dayShift.first.endTime.strftime("%I:%M%p")[0..1] %></span>
<br> 
</td>
                <% else %>
<td class="myTd lg">N/A</td>
<td class="myTd sm">N/A</td>
                 <% end %>
             <% end %>
             </tr>
        <% end %>
    <% end %>
<% end %>


<% end %>
