<%= form_for(request) do |f| %>
        <% if request.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>
  
            <ul>
              <% request.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      
        <%= f.hidden_field :schedule_id, :value => schedule.id %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        
        <%= f.submit %>
      <% end %>