<p id="notice"><%= notice %></p>

<h1>Available Shifts</h1>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Position</th>
      <th>Available</th>
      <th>Date</th>
      <th>Start</th>
      <th>End</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      
    <% @schedule.each do |schedule| %>
        <td><%= schedule.user.firstName + " " + schedule.user.lastName %></td>
        <td><%= schedule.position.name %></td>
        <td><%= schedule.date %></td>
        <td><%= schedule.startTime.strftime("%l:%M%p") %></td>
        <td><%= schedule.endTime.strftime("%l:%M%p") %></td>
        <td><%= render 'requestForm', request: Request.new, schedule: schedule %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Schedule', new_schedule_path %>