<p id="notice"><%= notice %></p>

<h1>Requests</h1>

<table class="table">
  <thead>
    <tr>
      <th>Schedule</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <% schedule = Schedule.where(id: request.schedule_id).first %>
        <td><%= schedule.user.firstName + " " + schedule.user.lastName %></td>
        <% requester = User.where(id: request.user_id).first %>
        <td><%= requester.firstName + " " + requester.lastName %></td>
        <td><%= request.user_id %></td>
        <td><%= schedule.id %></td>
        <td><%= schedule.date %></td>
        <td><%= schedule.startTime.strftime("%l:%M%p") %></td>
        <td><%= schedule.endTime.strftime("%l:%M%p") %></td>
        <td><%= render 'approvalForm', user: requester, schedule: schedule %></td>
        <td><%= button_to 'Deny Request', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Request', new_request_path %>
