<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to "Living in the Now", root_path, id: "logo", class: "navbar-brand" %>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><%= link_to "Home",   root_path %></li>
                <li><%= link_to "Help",   help_path %></li>
                <p class="navbar-text pull-right">
                    <% if user_signed_in? %>
                    Logged in as
                    <strong><%= current_user.email %></strong>.
                    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
                    |
                    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
                <% else %>
                    <%= link_to "Sign up", new_store_path, :class => 'navbar-link'  %>
                    |
                    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
                    <% end %>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <% if user_signed_in? %>
                    <li>
                        <a href="#">Logged in as
                            <strong><%= current_user.firstName %></strong>
                        </a>
                    </li>
                    <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
                    <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
                <% else %>
                    <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %></li>
                    <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link' %></li>
                    <% end %>
                </ul>
            </div>
        </div>
    </nav>
